<div class="col-md-8 col-md-offset-2">
  <h1><%= @title %></h1> 
  <% @feeds.each do |feed| %>
  <div class="jumbotron" id="feeds">
    <p><%= feed.title %> &nbsp;&nbsp; <i class="fa fa-heart-o"></i></p>
  </div>
  <% end %>
</div>